# IDE and OS specific files
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Python specific files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-wheel-metadata/
.pytest_cache/
.mypy_cache/
.pyre/
.pytype/
*.egg-info/

# Node.js specific files
node_modules/
dist/
build/
.npm/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json # 推荐在团队协作中保留，但如果个人项目想避免冲突可以忽略

# Docker specific files
docker-compose.override.yml

# Log files
*.log
